@model Dsa.RapidResponse.Services.Event

<div id="container">
    <h2>
        What: @Model.Title
    </h2>

    <h4>
        When: @Model.Time
    </h4>

    <h3>
        Details
    </h3>
    <p>
        @Model.Details
    </p>
</div>