
    <div class="container">
        <h2>Management</h2>
        <ul>
            <li><a asp-area-"" asp-controller="Management" asp-action="Users">Manage Users</a></li>
            <li><a asp-area-"" asp-controller="Events" asp-action="Index">Manage Events</a></li>
        </ul>
    </div>