@{ ViewData["Title"] = "Sending Message"; }

<div id="container">
    <h2>
        Sending Message
    </h2>
    <p>
        Sending a message takes about a second per user, so it could take a minute.  If your phone number is configured you'll get a message after all available users have been notified.
    </p>
</div>