@model IEnumerable<Dsa.RapidResponse.Services.Event>
@{ ViewData["Title"] = "Home Page"; }

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Rapid Response</h1>
        <p>SEIZE THE MEANS OF COMMUNICATION</p>
    </div>
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated) {
        <div>Welcome to being logged in...</div>
    }
    @if(User.IsInRole("Administrator")) {
        <div>Hello Administrator</div>
    }
</div>