@{ ViewData["Title"] = "Home Page"; }

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Rapid Response</h1>
        <p>SEIZE THE MEANS OF COMPUTATION</p>
    </div>
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated) {
    <div>Upcoming Events</div>
    <ul>
        <li>Sample Event</li>
    </ul>
    }
    @if(User.IsInRole("Administrator")) {
        <div>hello admin</div>
    }
</div>