@model IEnumerable<Dsa.RapidResponse.Services.Event>
@{ ViewData["Title"] = "Home Page"; }

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Rapid Response</h1>
        <p>SEIZE THE MEANS OF COMMUNICATION</p>
    </div>
</div>

<div class="row">
    <h3><a asp-area-"" asp-controller="Events" asp-action="Index">Upcoming Events</a></h3>
    <ul>
    @foreach(var item in @Model)
    {
        <li>@item.Time: @item.Title</li>
    }
    </ul>
</div>